*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

input {
  outline: none;
  border: none;
}

._container {
  max-width: 1122px;
  margin: auto;
  padding: 0 15px;
}

._main {
  overflow: hidden;
  background: #E5E5E5;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  position: relative !important;
}

._btn {
  background: #69766D;
  font-family: 'Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #F6F6F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.open-menu {
  left: 0 !important;
}

.menuMobileIsOpen {
  background: rgba(54, 54, 54, 0.7) !important;
}

@media screen and (max-width: 768px) {
  ._container {
    max-width: 659px;
  }
}

@media screen and (max-width: 320px) {
  ._container {
    max-width: 290px;
    padding: 0 0;
    margin: auto;
  }
}

@media screen and (max-width: 450px) {
  ._main {
    background: white;
  }
}

.menu-mobile {
  width: 100%;
  min-height: 349px;
  background: #D8BFA9;
  position: absolute;
  left: -110%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 10;
}

.menu-mobile__container {
  width: 230px;
  margin: auto;
  padding-top: 24px;
}

.menu-mobile__close {
  position: absolute;
  top: 24px;
  right: 25px;
  cursor: pointer;
  padding: 10px;
}

.menu-mobile__logo {
  width: 117px;
  margin: auto;
  margin-bottom: 32px;
}

.menu-mobile__logo img {
  width: 100%;
  height: auto;
}

.menu-mobile__menu {
  margin-bottom: 48px;
}

.menu-mobile__item {
  text-align: center;
  margin-bottom: 16px;
}

.menu-mobile__link {
  font-family: 'Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height */
  color: #F6F6F5;
}

.menu-mobile__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.header {
  width: 100%;
  margin-bottom: 44px;
}

.header__container {
  min-height: 79px;
  padding-top: 24px;
}

.header__container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger {
  display: none;
  cursor: pointer;
}

.header__logo {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.header__logo img {
  width: 117px;
  height: 79px;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__tel-number {
  font-family: 'Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height */
  color: #B8926B;
  margin-left: 16px;
}

.menu__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0 !important;
}

.menu__item:not(:first-child) {
  margin-left: 48px;
}

.menu__item {
  position: relative;
}

.menu__link {
  font-family: 'Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #161616;
}

.menu__item:hover::before {
  content: '';
  display: block;
  width: 27px;
  height: 2px;
  background: #D8BFA9;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 930px) {
  .header__menu {
    display: none;
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
  }
  .header__container .row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
  }
  .header__logo img {
    width: 100px;
    height: 60px;
  }
  .header__burger {
    display: block;
  }
}

@media screen and (max-width: 575px) {
  .header__tel-number {
    display: none;
  }
}

.about-us {
  width: 100%;
  margin-bottom: 82px;
}

.about-us__container {
  background: url(../img/grafic.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: relative;
}

.about-us .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 44px;
}

.about-us__body {
  padding-top: 80px;
}

.about-us__title {
  font-family: 'Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 59px;
  line-height: 66px;
  color: #161616;
  margin-bottom: 32px;
}

.about-us__text {
  max-width: 570px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #161616;
  margin-bottom: 64px;
}

.about-us__button {
  width: 210px;
  height: 59px;
}

.about-us__social-network {
  position: absolute;
  right: 0;
  bottom: 0;
}

.about-us__social-network__icon {
  margin-bottom: 20px;
}

@media screen and (max-width: 1102px) {
  .about-us__social-network {
    display: none;
  }
}

@media screen and (max-width: 831px) {
  .about-us__body {
    width: 100%;
  }
  .about-us__title {
    text-align: center;
    font-size: 42px;
    line-height: 47px;
    margin-bottom: 32px;
  }
  .about-us__text {
    max-width: 344px;
    margin: auto;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 64px;
  }
  .about-us__button {
    margin: auto;
  }
  .about-us__img {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .about-us {
    margin-bottom: 72px;
  }
  .about-us__container {
    background: unset;
  }
  .about-us__body {
    padding-top: 0;
  }
  .about-us__title {
    max-width: 177px;
    font-size: 25px;
    line-height: 28px;
    margin: auto;
    margin-bottom: 16px;
  }
  .about-us__text {
    font-size: 12px;
    line-height: 20px;
    max-width: 206px;
    margin-bottom: 32px;
  }
  .about-us__button {
    margin: auto;
  }
  .about-us__img {
    display: none;
  }
}

.social-network__icon {
  margin-bottom: 20px;
}

.social-network__icon svg:hover {
  stroke: #B8926B;
  fill: #B8926B;
}

.steps {
  width: 100%;
  margin-bottom: 100px;
}

.steps .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 57px;
}

.steps__title {
  font-family: 'Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  color: #161616;
  position: relative;
  margin-bottom: 64px;
  text-align: center;
}

.steps__title span {
  position: relative;
  display: inline-block;
}

.steps__title span::before {
  content: '';
  display: block;
  width: 60px;
  height: 2px;
  background: #D8BFA9;
  top: 0;
  right: -1000px;
}

.steps__item {
  max-width: 176px;
  position: relative;
}

.steps__item:nth-child(1)::after {
  content: url(../img/top-bar.svg);
  display: block;
  position: absolute;
  right: -40px;
  top: 0;
}

.steps__item:nth-child(2)::after {
  content: url(../img/botom-bar.svg);
  display: block;
  position: absolute;
  right: -40px;
  top: 43px;
}

.steps__item:nth-child(3)::after {
  content: url(../img/top-bar.svg);
  display: block;
  position: absolute;
  right: -40px;
  top: -20px;
}

.steps__item:nth-child(4)::after {
  content: url(../img/botom-bar.svg);
  display: block;
  position: absolute;
  right: -40px;
  top: 40px;
}

@media screen and (max-width: 998px) {
  .steps .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 57px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .steps__top {
    max-width: 100%;
  }
  .steps__bar {
    margin-left: 55px;
  }
  .steps__title {
    font-size: 32px;
    line-height: 36px;
  }
  .steps__item:nth-child(1)::after {
    content: url(../img/botom-bar.svg);
    display: none;
    position: absolute;
    right: -40px;
    top: 40px;
  }
  .steps__item:nth-child(2)::after {
    content: url(../img/botom-bar.svg);
    display: none;
    position: absolute;
    right: -40px;
    top: 40px;
  }
  .steps__item:nth-child(3)::after {
    content: url(../img/botom-bar.svg);
    display: none;
    position: absolute;
    right: -40px;
    top: 40px;
  }
  .steps__item:nth-child(4)::after {
    content: url(../img/botom-bar.svg);
    display: none;
    position: absolute;
    right: -40px;
    top: 40px;
  }
  .steps__item:nth-child(1)::after {
    content: url(../img/botom-bar.svg);
    display: none;
    position: absolute;
    right: -40px;
    top: 40px;
  }
}

@media screen and (max-width: 450px) {
  .steps__title {
    font-size: 20px;
    line-height: 22px;
  }
}

.item-step__img {
  margin-bottom: 58px;
  width: 60px;
  height: 60px;
}

.item-step__img img {
  width: 100%;
  height: 100%;
}

.item-step__title {
  font-family: 'Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 20px;
  color: #161616;
  margin-bottom: 24px;
}

.item-step__text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #161616;
}

@media screen and (max-width: 768px) {
  .item-step {
    text-align: center;
  }
  .item-step__img {
    margin: 0 auto 10px;
  }
}

.call-back {
  display: none;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 746px;
  min-height: 518px;
  background: #F6F6F5;
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.call-back__close {
  position: absolute;
  right: 15px;
  top: 16px;
  padding: 10px;
  cursor: pointer;
}

.call-back__container {
  max-width: 521px;
  margin: auto;
  padding-top: 64px;
}

.call-back__title {
  font-family: 'Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 47px;
  color: #161616;
  text-align: center;
  margin-bottom: 48px;
}

.call-back__title--firstLetter {
  position: relative;
}

.call-back__title--firstLetter::before {
  content: url(../img/grafic-small.png);
  position: absolute;
  right: -100px;
  top: -20px;
}

@media screen and (max-width: 768px) {
  .call-back {
    width: 646px;
    min-height: 518px;
  }
}

@media screen and (max-width: 672px) {
  .call-back {
    width: 546px;
    min-height: 518px;
  }
  .call-back__title {
    font-size: 25px;
    line-height: 28px;
  }
  .call-back__container {
    background-position: 100px 50px;
  }
}

@media screen and (max-width: 566px) {
  .call-back {
    width: 100%;
    min-height: 100%;
  }
  .call-back__container {
    max-width: 290px;
    margin: auto;
    background-position: 60px 50px;
  }
}

.form-data__item {
  width: 100%;
}

.form-data__item label {
  display: inline-block;
  margin-bottom: 2px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #161616;
}

.form-data__item input {
  display: block;
  width: 100%;
  height: 40px;
}

.form-data__item:nth-child(1) {
  margin-bottom: 32px;
}

.form-data__text {
  font-family: 'Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #69766D;
  margin-top: 10px;
  margin-bottom: 32px;
}

.form-data__btn {
  width: 227px;
  height: 59px;
  background: #69766D;
  margin: auto;
}

::-webkit-input-placeholder {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #161616;
  padding-left: 10px;
}

:-ms-input-placeholder {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #161616;
  padding-left: 10px;
}

::-ms-input-placeholder {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #161616;
  padding-left: 10px;
}

::placeholder {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #161616;
  padding-left: 10px;
}
/*# sourceMappingURL=main.css.map */